<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <o>Hello</o>
    <div>
        <% val.forEach((entry) => { %>
        
            <p>Name :  <%= entry.name %></p>
            <p>Quantity:  <%= entry.quantity %></p>
        <% }) %>

    </div>
</body>
</html>