<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <base href="/public"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/datepicker3.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-table.css">
    <!--    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="stylesheets/datepicker.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">


</head>
<body>
<% if (locals.data) { %>

<% }  %>
<%- include('navbar'); -%>
<%- include('sidebar'); -%>
<%- include('main'); -%>

</body>
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</html>
