<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="../../" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <% 
               if (locals.error){ %>
                   <p> <%= error %> </p>
                <%
            }
            %>
            <form action="dashboard/login" method="POST">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control"  placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary">Dang nhap</button>
            </form>
        </div>
    </div>
</body>

</html>